## HW 2. Bank digital campaign analysis

--------

__Authors:__ Turakulov A., Sitdikova Y., Rakhimkulova A., Yakovlev P.    
__Group:__ BASB212  

--------

### Task description

You are provided with data describing the results of an email and push campaigns of a bank.

__The offer was the following:__  
The client should open a new Visa card and make 3 transactions at 500 rub at least each during a 14-day
period. If he does so, he receives a 5% cashback for all transactions made using this card during the next
month.

__The datasets contain the following information:__  
1. The funnel metrics of a campaign (“visa_communications”)
2. The statistic of visa card openings (“card_openings”, “card_openings_not_particip”)
3. The transactional data within the campaign period (“transactions”, “transactions_non_particip”)
4. The features for generating the synthetic control group (“features”).

__The goal of the homework:__  
To analyze a dataset containing customers' responses on a campaign, conclude whether the campaign
was successful or not by calculating the financial effect using Python. The bank gets 1% of any
transaction amount as income.

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 18 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 60.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=34464ffdd65b5b7a3232a13e38a775851075368c3ae9b6c041ce5a4376d01ee0
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession , SQLContext
from pyspark.sql.functions import sum 

spark = SparkSession.builder.appName("HW2").getOrCreate()
sqlContext = SQLContext(spark)

/usr/local/lib/python3.8/dist-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df_visa_comms = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hw2_marketing/visa_communications.csv')
df_visa_comms.head()

,channel_type,contact_dt,control_group_flg,sent,delivered,opened,clicked,blocked,cust_id
0,Popup,2021-08-23,0,1,1,1,0,0,5d0a0cae173c27947838b9f3ad1282fa30771272747ede...
1,EMAIL,2021-08-12,0,1,1,0,0,0,b70d7c45f4d1724acdba89bead5941f13d93406bcbb1d7...
2,Popup,2021-08-11,0,1,1,1,0,0,1b3705d419798b8723884b643dc535ae7fc7623d6f4f7c...
3,PUSH,2021-08-12,0,0,0,0,0,0,0064bbbb2fd516698fd113adcabef8bb52824536512e8e...
4,PUSH,2021-08-12,0,0,0,0,0,0,3f0be853435987e9aff8cba237e8c19334708a996cf696...

In [5]:
df_crd_opns = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hw2_marketing/card_openings.csv')
df_crd_opns.head()

                                             cust_id     open_dt  contact_dt
0  2537ec14c2e5b8607ea67dfe09ec687205c59ed152407f...  2021-08-19  2021-08-12
1  b6bc9799397f07c8304673d4d51e7788a143ecb710452e...  2021-08-16  2021-08-13
2  d09ee17e668f229697a15a940915714b838826305e6973...  2021-08-21  2021-08-13
3  2323b4ae10e99e72160a74c5b42c38e47f2bc0692ef0a9...  2021-08-23  2021-08-13
4  b056b9822c2208a83eeb7150ee4be30d7088b07fed0ec5...  2021-08-23  2021-08-13

In [6]:
df_crd_opns_no = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hw2_marketing/card_openings_non_participants.csv')
df_crd_opns_no.head()

                                             cust_id     open_dt  contact_dt
0  00142a5cfe4dd6ac883e4dc0ba888d6266ce99257e0825...  2021-08-26           0
1  00b037b74b45a2a0c9dc64b59a2587dd79dabc93e1d84b...  2021-08-12           0
2  00d312b7591fdc7d5607feac6ebcff5223d2162bff5248...  2021-08-26           0
3  01965e567e31d90ae31b5476a7bdb44b76ebf0d3950cf4...  2021-08-04           0
4  02a874b8110d3a04c551a88d8e35529e2faf553d8512e5...  2021-08-04           0

In [7]:
df_trans = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hw2_marketing/visa_transactions.csv')
df_trans.head()

,cust_id,transaction_dt,mcc_id,txn_sum
0,db5e62076fad2729571f211d7ca4d5be1ba71e7563efbb...,2021-09-09,5399,2322.00
1,9fc01d326a0adcb9caaabe298064b8a26aa711878cf89f...,2021-09-07,5533,1245.00
2,7afcb430aaf9baa1786d36ffcdf3efec0f4f6fe41b32fc...,2021-08-30,5921,29.99
3,79a2d16cd93c5d15120f30f4a6a0b39060f6cdde7486c8...,2021-09-04,5211,110.00
4,0c10b18ba26cb55e4b1aed9146cf359d034fa872feeba6...,2021-08-31,5441,45.00

In [8]:
df_trans_no = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hw2_marketing/visa_transactions_non_particip.csv')
df_trans_no.head()

,cust_id,transaction_dt,mcc_id,txn_sum
0,7ab840dd10c9eec7ba477160c74eaff315746f5db370c9...,2021-08-28,5499,645.00
1,b920f5f439d996cb87ff138610bd123bcd03dae7bc4602...,2021-09-15,5921,304.56
2,e14bc4726c13b92a503e2089654a4abf05f1ce9effee52...,2021-09-09,5912,1249.40
3,a6d6a39ca52e7e1b6743274c94c1ed3b1ec06d7a726a51...,2021-08-30,5411,346.27
4,380a3ce00a9dff9daccb414c20dcc82c30100c23f23265...,2021-08-21,5812,35.00

In [9]:
df_ftrs = spark.read.option("header", True).csv('/content/drive/MyDrive/Colab Notebooks/hw2_marketing/features.csv')
df_ftrs.show()

+--------------------+----------+--------------------+----------+--------------+------+------+
|             cust_id|  mnth_gen|            turnover|involve_cd|client_segment|gender|age_gr|
+--------------------+----------+--------------------+----------+--------------+------+------+
|ad767176b86d500e5...|2021-06-01|17764.83000000000...|         1|          MASS|     F| 25-40|
|cc7c069e1866b0e14...|2021-06-01|18817.45000000000...|         1|          MASS|     M| 25-40|
|914c9e80623d8fdec...|2021-01-01|19198.74000000000...|         1|     MVS LIGHT|     F| 25-40|
|e45e78863f239d393...|2021-04-01|114637.5400000000...|         1|     MVS UPPER|     F| 40-60|
|2201a68b8c83f098a...|2021-07-01|112603.0100000000...|         0|     MVS LIGHT|     F| 25-40|
|7b7829394d7897140...|2021-01-01|17576.22000000000...|         1|     MVS LIGHT|     F| 40-60|
|ecad93826320a5980...|2021-07-01|120845.4500000000...|         0|     MVS UPPER|     M| 40-60|
|96c63552c78c342a4...|2021-03-01|5878.500000000000...|         0|          MASS|     F| 25-40|
|6b13c0fed87df6302...|2021-01-01|16811.72000000000...|         1|          MASS|     M| 25-40|
|92d849680c062d784...|2021-02-01|43986.04000000000...|         1|     MVS LIGHT|     M| 25-40|
|805ec50515849f58f...|2021-06-01|57148.94000000000...|         1|     MVS UPPER|     F| 25-40|
|f823a0e07a76eab9c...|2021-02-01|10652.69000000000...|         1|          MASS|     F|   <25|
|375bc3278f1131f8e...|2021-09-01|10636.22000000000...|         0|          MASS|     F| 40-60|
|a463b6daac57d4452...|2021-10-01|14692.53000000000...|         0|          MASS|     M| 25-40|
|3044299811ba2bc97...|2021-05-01|33803.45000000000...|         0|     MVS LIGHT|     F| 25-40|
|acdb9efe9dd1def78...|2021-09-01|13673.60000000000...|         0|          MASS|     M|   60+|
|4ee935372f0b89547...|2021-06-01|41083.86000000000...|         1|     MVS UPPER|     M| 25-40|
|bbec1eb17cc86349e...|2021-02-01|41794.04000000000...|         1|          MASS|     M|   60+|
|5b0bd6c2c31347b70...|2021-06-01|11092.70000000000...|         1|          MASS|     F| 25-40|
|1ae420a1a79ab0abb...|2021-07-01|16690.15000000000...|         0|          MASS|     F| 40-60|
+--------------------+----------+--------------------+----------+--------------+------+------+
only showing top 20 rows

### 1. Make the data preprocessing (1 point)

In [10]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Misses', 1 : '% from all data'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% from all data', ascending=False).round(1)
    print ("Dataframe contains " + str(df.shape[1]) + " columns.\n"      
        "Overall " + str(mis_val_table_ren_columns.shape[0]) +
          " columns with missing values.")
    return mis_val_table_ren_columns

In [11]:
missing_values_table(df_visa_comms).style.background_gradient(cmap='Reds')

Dataframe contains 9 columns.
Overall 0 columns with missing values.

In [12]:
missing_values_table(df_crd_opns).style.background_gradient(cmap='Reds')

Dataframe contains 3 columns.
Overall 0 columns with missing values.

In [13]:
missing_values_table(df_crd_opns_no).style.background_gradient(cmap='Reds')

Dataframe contains 3 columns.
Overall 0 columns with missing values.

In [14]:
missing_values_table(df_trans).style.background_gradient(cmap='Reds')

Dataframe contains 4 columns.
Overall 0 columns with missing values.

In [15]:
missing_values_table(df_trans_no).style.background_gradient(cmap='Reds')

Dataframe contains 4 columns.
Overall 0 columns with missing values.

In [16]:
missing_values_table(df_ftrs.limit(100000).toPandas()).style.background_gradient(cmap='Reds')

Dataframe contains 7 columns.
Overall 0 columns with missing values.

In [17]:
print(f'Shape of DF (df_ftrs) : {df_ftrs.count()}')
print(df_ftrs.limit(1000).toPandas().info())
df_ftrs.limit(1000).toPandas().describe()

Shape of DF (df_ftrs) : 31418100
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cust_id         1000 non-null   object
 1   mnth_gen        1000 non-null   object
 2   turnover        1000 non-null   object
 3   involve_cd      1000 non-null   object
 4   client_segment  1000 non-null   object
 5   gender          1000 non-null   object
 6   age_gr          1000 non-null   object
dtypes: object(7)
memory usage: 54.8+ KB
None

,cust_id,mnth_gen,turnover,involve_cd,client_segment,gender,age_gr
count,1000,1000,1000,1000,1000,1000,1000
unique,1000,10,991,2,4,3,5
top,ad767176b86d500e5b8421315731388ff6c5ec93079ec9...,2021-09-01,0,1,MASS,F,25-40
freq,1,117,10,569,437,565,494

Converting date frames to pyspark

In [18]:
print(f'Shape of DF (df_visa_comms) : {df_visa_comms.shape}')
print(df_visa_comms.info())
print(df_visa_comms.describe())
df_visa_comms['contact_dt'] = pd.to_datetime(df_visa_comms['contact_dt'], errors='coerce')
print(df_visa_comms.head())
df_visa_comms = spark.createDataFrame(df_visa_comms) 
df_visa_comms.printSchema()

Shape of DF (df_visa_comms) : (1456826, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456826 entries, 0 to 1456825
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   channel_type       1456826 non-null  object
 1   contact_dt         1456826 non-null  object
 2   control_group_flg  1456826 non-null  int64
 3   sent               1456826 non-null  int64
 4   delivered          1456826 non-null  int64
 5   opened             1456826 non-null  int64
 6   clicked            1456826 non-null  int64
 7   blocked            1456826 non-null  int64
 8   cust_id            1456826 non-null  object
dtypes: int64(6), object(3)
memory usage: 100.0+ MB
None
       control_group_flg          sent     delivered        opened  \
count       1.456826e+06  1.456826e+06  1.456826e+06  1.456826e+06
mean        7.048199e-02  5.635889e-01  5.413014e-01  2.176272e-01
std         2.559577e-01  4.959401e-01  4.982914e-01  4.126327e-01
min         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%         0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%         0.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
75%         0.000000e+00  1.000000e+00  1.000000e+00  0.000000e+00
max         1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00

            clicked       blocked
count  1.456826e+06  1.456826e+06
mean   1.674737e-02  6.932880e-05
std    1.283234e-01  8.326106e-03
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00
75%    0.000000e+00  0.000000e+00
max    1.000000e+00  1.000000e+00
  channel_type contact_dt  control_group_flg  sent  delivered  opened  \
0        Popup 2021-08-23                  0     1          1       1
1        EMAIL 2021-08-12                  0     1          1       0
2        Popup 2021-08-11                  0     1          1       1
3         PUSH 2021-08-12                  0     0          0       0
4         PUSH 2021-08-12                  0     0          0       0

   clicked  blocked                                            cust_id
0        0        0  5d0a0cae173c27947838b9f3ad1282fa30771272747ede...
1        0        0  b70d7c45f4d1724acdba89bead5941f13d93406bcbb1d7...
2        0        0  1b3705d419798b8723884b643dc535ae7fc7623d6f4f7c...
3        0        0  0064bbbb2fd516698fd113adcabef8bb52824536512e8e...
4        0        0  3f0be853435987e9aff8cba237e8c19334708a996cf696...
root
 |-- channel_type: string (nullable = true)
 |-- contact_dt: timestamp (nullable = true)
 |-- control_group_flg: long (nullable = true)
 |-- sent: long (nullable = true)
 |-- delivered: long (nullable = true)
 |-- opened: long (nullable = true)
 |-- clicked: long (nullable = true)
 |-- blocked: long (nullable = true)
 |-- cust_id: string (nullable = true)

In [19]:
print(f'Shape of DF (df_crd_opns) : {df_crd_opns.shape}')
print(df_crd_opns.info())
print(df_crd_opns.describe())
df_crd_opns['open_dt'] = pd.to_datetime(df_crd_opns['open_dt'], errors='coerce')
df_crd_opns['contact_dt'] = pd.to_datetime(df_crd_opns['contact_dt'], errors='coerce')
print(df_crd_opns.head())
df_crd_opns = spark.createDataFrame(df_crd_opns) 
df_crd_opns.printSchema()

Shape of DF (df_crd_opns) : (22995, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22995 entries, 0 to 22994
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cust_id     22995 non-null  object
 1   open_dt     22995 non-null  object
 2   contact_dt  22995 non-null  object
dtypes: object(3)
memory usage: 539.1+ KB
None
                                                  cust_id     open_dt  \
count                                               22995       22995
unique                                              21424          21
top     fa4aeb57cc6f9cf63661203bfa17635e247cbca3d2c018...  2021-08-12
freq                                                   12        2102

        contact_dt
count        22995
unique          15
top     2021-08-12
freq         18466
                                             cust_id    open_dt contact_dt
0  2537ec14c2e5b8607ea67dfe09ec687205c59ed152407f... 2021-08-19 2021-08-12
1  b6bc9799397f07c8304673d4d51e7788a143ecb710452e... 2021-08-16 2021-08-13
2  d09ee17e668f229697a15a940915714b838826305e6973... 2021-08-21 2021-08-13
3  2323b4ae10e99e72160a74c5b42c38e47f2bc0692ef0a9... 2021-08-23 2021-08-13
4  b056b9822c2208a83eeb7150ee4be30d7088b07fed0ec5... 2021-08-23 2021-08-13
root
 |-- cust_id: string (nullable = true)
 |-- open_dt: timestamp (nullable = true)
 |-- contact_dt: timestamp (nullable = true)

In [20]:
print(f'Shape of DF (df_trans) : {df_trans.shape}')
print(df_trans.info())
print(df_trans.describe())
df_trans['transaction_dt'] = pd.to_datetime(df_trans['transaction_dt'], errors='coerce')
print(df_trans.head())
df_trans = spark.createDataFrame(df_trans) 
df_trans.printSchema()

Shape of DF (df_trans) : (396564, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396564 entries, 0 to 396563
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   cust_id         396564 non-null  object
 1   transaction_dt  396564 non-null  object
 2   mcc_id          396564 non-null  int64
 3   txn_sum         396564 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 12.1+ MB
None
              mcc_id       txn_sum
count  396564.000000  3.965640e+05
mean     5525.351963  8.075815e+02
std       751.054988  1.451721e+04
min       742.000000  4.000000e-02
25%      5411.000000  1.140000e+02
50%      5462.000000  2.678550e+02
75%      5814.000000  6.285700e+02
max      9998.000000  8.490000e+06
                                             cust_id transaction_dt  mcc_id  \
0  db5e62076fad2729571f211d7ca4d5be1ba71e7563efbb...     2021-09-09    5399
1  9fc01d326a0adcb9caaabe298064b8a26aa711878cf89f...     2021-09-07    5533
2  7afcb430aaf9baa1786d36ffcdf3efec0f4f6fe41b32fc...     2021-08-30    5921
3  79a2d16cd93c5d15120f30f4a6a0b39060f6cdde7486c8...     2021-09-04    5211
4  0c10b18ba26cb55e4b1aed9146cf359d034fa872feeba6...     2021-08-31    5441

   txn_sum
0  2322.00
1  1245.00
2    29.99
3   110.00
4    45.00
root
 |-- cust_id: string (nullable = true)
 |-- transaction_dt: timestamp (nullable = true)
 |-- mcc_id: long (nullable = true)
 |-- txn_sum: double (nullable = true)

There were duplicate clients in the notifications based on control_group_flg

In [21]:
df_visa_comms.filter(df_visa_comms.cust_id =='804e1c3c26f33c641304b75298f8f019135d54f4e21f0bd87b2d4d474c6d5c7f').show(100, False)

+------------+-------------------+-----------------+----+---------+------+-------+-------+----------------------------------------------------------------+
|channel_type|contact_dt         |control_group_flg|sent|delivered|opened|clicked|blocked|cust_id                                                         |
+------------+-------------------+-----------------+----+---------+------+-------+-------+----------------------------------------------------------------+
|EMAIL       |2021-08-13 00:00:00|0                |1   |1        |0     |0      |0      |804e1c3c26f33c641304b75298f8f019135d54f4e21f0bd87b2d4d474c6d5c7f|
|EMAIL       |2021-08-12 00:00:00|1                |0   |0        |0     |0      |0      |804e1c3c26f33c641304b75298f8f019135d54f4e21f0bd87b2d4d474c6d5c7f|
|PUSH        |2021-08-12 00:00:00|0                |0   |0        |0     |0      |0      |804e1c3c26f33c641304b75298f8f019135d54f4e21f0bd87b2d4d474c6d5c7f|
+------------+-------------------+-----------------+----+---------+------+-------+-------+----------------------------------------------------------------+

In [22]:
df_visa_comms.registerTempTable("comms")

comms = sqlContext.sql("""select count(*)
                        from (SELECT cust_id , count(distinct control_group_flg) as cnt
                            FROM comms
                            group by cust_id
                            having count(distinct control_group_flg) > 1
                            ) a
                        """)
comms.show()

/usr/local/lib/python3.8/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+--------+
|count(1)|
+--------+
|   21950|
+--------+

Removing duplicate clients from all dataframes

In [23]:
df_crd_opns.registerTempTable("crds")

df_crd_opns = sqlContext.sql("""SELECT * FROM crds WHERE cust_id not in 
                                (select distinct cust_id
                                from (SELECT cust_id , count(distinct control_group_flg) as cnt
                                    FROM comms
                                    group by cust_id
                                    having count(distinct control_group_flg) > 1
                                    ) a
                                )
                            """)
df_crd_opns.show()

+--------------------+-------------------+-------------------+
|             cust_id|            open_dt|         contact_dt|
+--------------------+-------------------+-------------------+
|2537ec14c2e5b8607...|2021-08-19 00:00:00|2021-08-12 00:00:00|
|b6bc9799397f07c83...|2021-08-16 00:00:00|2021-08-13 00:00:00|
|d09ee17e668f22969...|2021-08-21 00:00:00|2021-08-13 00:00:00|
|2323b4ae10e99e721...|2021-08-23 00:00:00|2021-08-13 00:00:00|
|7a5665b615fce7d6d...|2021-08-18 00:00:00|2021-08-12 00:00:00|
|08f53c97adf38bda6...|2021-08-12 00:00:00|2021-08-12 00:00:00|
|8394c7e7466057572...|2021-08-23 00:00:00|2021-08-12 00:00:00|
|7c2616d054c0a9940...|2021-08-19 00:00:00|2021-08-12 00:00:00|
|bad095ff8563cb0ef...|2021-08-13 00:00:00|2021-08-12 00:00:00|
|7e9760e1298b77617...|2021-08-17 00:00:00|2021-08-12 00:00:00|
|df424d735cd7cfac3...|2021-08-16 00:00:00|2021-08-12 00:00:00|
|fcc4dd1fd016837f6...|2021-08-25 00:00:00|2021-08-12 00:00:00|
|a84d871095e1c2ac7...|2021-08-12 00:00:00|2021-08-12 00:00:00|
|164be211937c2b6dc...|2021-08-12 00:00:00|2021-08-12 00:00:00|
|e038fcb2f613cb93b...|2021-08-18 00:00:00|2021-08-12 00:00:00|
|de9ba33a1f70a477e...|2021-08-12 00:00:00|2021-08-12 00:00:00|
|759d99dcc1e34a2a3...|2021-08-14 00:00:00|2021-08-13 00:00:00|
|c1d6fe7f20949f08f...|2021-08-23 00:00:00|2021-08-12 00:00:00|
|bb358df8c80ee0edc...|2021-08-13 00:00:00|2021-08-12 00:00:00|
|d89e7a5134141629a...|2021-08-23 00:00:00|2021-08-12 00:00:00|
+--------------------+-------------------+-------------------+
only showing top 20 rows

In [24]:
df_trans.registerTempTable("trans")

df_trans = sqlContext.sql("""SELECT * FROM trans WHERE cust_id not in 
                                (select distinct cust_id
                                from (SELECT cust_id , count(distinct control_group_flg) as cnt
                                    FROM comms
                                    group by cust_id
                                    having count(distinct control_group_flg) > 1
                                    ) a
                                )
                            """)
df_trans.show()

+--------------------+-------------------+------+-------+
|             cust_id|     transaction_dt|mcc_id|txn_sum|
+--------------------+-------------------+------+-------+
|db5e62076fad27295...|2021-09-09 00:00:00|  5399| 2322.0|
|9fc01d326a0adcb9c...|2021-09-07 00:00:00|  5533| 1245.0|
|7afcb430aaf9baa17...|2021-08-30 00:00:00|  5921|  29.99|
|79a2d16cd93c5d151...|2021-09-04 00:00:00|  5211|  110.0|
|0c10b18ba26cb55e4...|2021-08-31 00:00:00|  5441|   45.0|
|80dee4219eef1bbf3...|2021-09-15 00:00:00|  5411| 263.65|
|188c790564fd31843...|2021-09-03 00:00:00|  5411|  129.0|
|1ef28607bf5bd0ffe...|2021-09-08 00:00:00|  5411| 1411.0|
|ec1acb6ccaaf88034...|2021-08-22 00:00:00|  5977|  687.0|
|d33ced03426b6230f...|2021-08-28 00:00:00|  4722|36360.0|
|5ecf29bbfe9925258...|2021-09-11 00:00:00|  5691|  278.0|
|42dfc5265736e9bd3...|2021-08-30 00:00:00|  5499| 219.06|
|773d82f35b0f87328...|2021-08-28 00:00:00|  5912|   55.0|
|5cea8338ac5857a0a...|2021-08-29 00:00:00|  5541|  999.8|
|ba7afae0a7dfa2d4e...|2021-09-14 00:00:00|  5814|  778.5|
|d07dd9fabd548ad9e...|2021-08-14 00:00:00|  5411| 808.18|
|0de5dc45bd3aa22b1...|2021-09-02 00:00:00|  5411|  51.27|
|b714fd89ed9928b31...|2021-09-06 00:00:00|  5411| 313.74|
|16126b092c068d1e7...|2021-09-02 00:00:00|  5814|   40.0|
|ef8d5c2db211c8247...|2021-09-15 00:00:00|  5691|  467.0|
+--------------------+-------------------+------+-------+
only showing top 20 rows

In [25]:
df_ftrs.registerTempTable("ftrs")

df_ftrs = sqlContext.sql("""SELECT * FROM ftrs WHERE cust_id not in 
                                (select distinct cust_id
                                from (SELECT cust_id , count(distinct control_group_flg) as cnt
                                    FROM comms
                                    group by cust_id
                                    having count(distinct control_group_flg) > 1
                                    ) a
                                )
                            """)
df_ftrs.show()

+--------------------+----------+--------------------+----------+--------------+------+------+
|             cust_id|  mnth_gen|            turnover|involve_cd|client_segment|gender|age_gr|
+--------------------+----------+--------------------+----------+--------------+------+------+
|ad767176b86d500e5...|2021-06-01|17764.83000000000...|         1|          MASS|     F| 25-40|
|cc7c069e1866b0e14...|2021-06-01|18817.45000000000...|         1|          MASS|     M| 25-40|
|914c9e80623d8fdec...|2021-01-01|19198.74000000000...|         1|     MVS LIGHT|     F| 25-40|
|e45e78863f239d393...|2021-04-01|114637.5400000000...|         1|     MVS UPPER|     F| 40-60|
|7b7829394d7897140...|2021-01-01|17576.22000000000...|         1|     MVS LIGHT|     F| 40-60|
|ecad93826320a5980...|2021-07-01|120845.4500000000...|         0|     MVS UPPER|     M| 40-60|
|96c63552c78c342a4...|2021-03-01|5878.500000000000...|         0|          MASS|     F| 25-40|
|6b13c0fed87df6302...|2021-01-01|16811.72000000000...|         1|          MASS|     M| 25-40|
|92d849680c062d784...|2021-02-01|43986.04000000000...|         1|     MVS LIGHT|     M| 25-40|
|805ec50515849f58f...|2021-06-01|57148.94000000000...|         1|     MVS UPPER|     F| 25-40|
|f823a0e07a76eab9c...|2021-02-01|10652.69000000000...|         1|          MASS|     F|   <25|
|375bc3278f1131f8e...|2021-09-01|10636.22000000000...|         0|          MASS|     F| 40-60|
|a463b6daac57d4452...|2021-10-01|14692.53000000000...|         0|          MASS|     M| 25-40|
|3044299811ba2bc97...|2021-05-01|33803.45000000000...|         0|     MVS LIGHT|     F| 25-40|
|acdb9efe9dd1def78...|2021-09-01|13673.60000000000...|         0|          MASS|     M|   60+|
|4ee935372f0b89547...|2021-06-01|41083.86000000000...|         1|     MVS UPPER|     M| 25-40|
|bbec1eb17cc86349e...|2021-02-01|41794.04000000000...|         1|          MASS|     M|   60+|
|5b0bd6c2c31347b70...|2021-06-01|11092.70000000000...|         1|          MASS|     F| 25-40|
|1ae420a1a79ab0abb...|2021-07-01|16690.15000000000...|         0|          MASS|     F| 40-60|
|626707a5fddc2a04b...|2021-06-01|71634.99000000000...|         1|     MVS LIGHT|     F|   <25|
+--------------------+----------+--------------------+----------+--------------+------+------+
only showing top 20 rows

In [26]:
df_visa_comms = sqlContext.sql("""SELECT * FROM comms WHERE cust_id not in 
                                (select distinct cust_id
                                from (SELECT cust_id , count(distinct control_group_flg) as cnt
                                    FROM comms
                                    group by cust_id
                                    having count(distinct control_group_flg) > 1
                                    ) a
                                )
                            """)
df_visa_comms.show()

+------------+-------------------+-----------------+----+---------+------+-------+-------+--------------------+
|channel_type|         contact_dt|control_group_flg|sent|delivered|opened|clicked|blocked|             cust_id|
+------------+-------------------+-----------------+----+---------+------+-------+-------+--------------------+
|       Popup|2021-08-23 00:00:00|                0|   1|        1|     1|      0|      0|5d0a0cae173c27947...|
|       EMAIL|2021-08-12 00:00:00|                0|   1|        1|     0|      0|      0|b70d7c45f4d1724ac...|
|       Popup|2021-08-11 00:00:00|                0|   1|        1|     1|      0|      0|1b3705d419798b872...|
|        PUSH|2021-08-12 00:00:00|                0|   0|        0|     0|      0|      0|0064bbbb2fd516698...|
|        PUSH|2021-08-12 00:00:00|                0|   0|        0|     0|      0|      0|3f0be853435987e9a...|
|       Popup|2021-08-24 00:00:00|                0|   1|        1|     1|      0|      0|c645c4639726e6e02...|
|       EMAIL|2021-08-13 00:00:00|                0|   1|        1|     0|      0|      0|0b17e6bc83a62e85b...|
|       Popup|2021-08-19 00:00:00|                0|   1|        1|     1|      0|      0|0f7a9f538c71595f4...|
|       EMAIL|2021-08-13 00:00:00|                0|   1|        1|     0|      0|      0|9292d7ba2778cf2db...|
|        PUSH|2021-08-12 00:00:00|                0|   0|        0|     0|      0|      0|2af98bc3274c5ec25...|
|        PUSH|2021-08-12 00:00:00|                1|   0|        0|     0|      0|      0|fb9d40dd592c71ce2...|
|       EMAIL|2021-08-13 00:00:00|                0|   1|        1|     0|      0|      0|bce3a4f4a068ba304...|
|       EMAIL|2021-08-12 00:00:00|                0|   1|        1|     0|      0|      0|91f124cfa2346e668...|
|        PUSH|2021-08-12 00:00:00|                0|   0|        0|     0|      0|      0|e12b0d954d114b20a...|
|       EMAIL|2021-08-12 00:00:00|                0|   1|        1|     0|      0|      0|21b27b9e87594ac12...|
|        PUSH|2021-08-12 00:00:00|                0|   0|        0|     0|      0|      0|2a772c886399d6166...|
|       Popup|2021-08-19 00:00:00|                0|   1|        1|     1|      0|      0|87b9fee18ed98f7c6...|
|       Popup|2021-08-13 00:00:00|                0|   1|        1|     1|      0|      0|2d9bf809001c73a1a...|
|        PUSH|2021-08-12 00:00:00|                0|   0|        0|     0|      0|      0|bc29bfd267f05d735...|
|        PUSH|2021-08-12 00:00:00|                1|   0|        0|     0|      0|      0|969955eadf559f746...|
+------------+-------------------+-----------------+----+---------+------+-------+-------+--------------------+
only showing top 20 rows

Let's check it again

In [27]:
df_visa_comms.registerTempTable("comms")
df_crd_opns.registerTempTable("crds")
df_trans.registerTempTable("trans")
df_ftrs.registerTempTable("ftrs")

comms = sqlContext.sql("""select count(*)
                        from (SELECT cust_id , count(distinct control_group_flg) as cnt
                            FROM comms
                            group by cust_id
                            having count(distinct control_group_flg) > 1
                            ) a
                        """)
comms.show()

+--------+
|count(1)|
+--------+
|       0|
+--------+

Let's create a flat sample of clients with a flag for fulfilling campaign conditions

In [28]:
results = sqlContext.sql("""WITH single_cards as (
                                SELECT crds.cust_id , cm.control_group_flg, min(crds.open_dt) as open_dt
                                FROM crds 
                                INNER JOIN (SELECT cust_id , control_group_flg, max(contact_dt) as max_contact_dt FROM comms GROUP BY cust_id , control_group_flg) as cm 
                                ON crds.cust_id = cm.cust_id AND cm.control_group_flg = 0  and max_contact_dt <= crds.open_dt
                                GROUP BY crds.cust_id, cm.control_group_flg
                            )
                            SELECT a.cust_id 
                                , a.open_dt 
                                , sum(coalesce(all_t.txn_sum,0)) as all_txn_sum
                                , a.campaign_txn_sum
                                , a.all_trans_count as campaign_trans_count
                                , a.flag_success_campaign
                                , a.control_group_flg
                            FROM (
                                SELECT cust_id 
                                    , open_dt 
                                    , sum(CASE WHEN main.all_trans_count >= 3 
                                                THEN txn_sum
                                                ELSE 0
                                          END) AS campaign_txn_sum
                                    , all_trans_count
                                    , CASE WHEN main.all_trans_count >= 3 
                                            THEN 1
                                            ELSE 0
                                      END AS flag_success_campaign
                                    , control_group_flg
                                FROM (
                                    SELECT crds.cust_id 
                                        , crds.open_dt 
                                        , trans.transaction_dt 
                                        , trans.mcc_id 
                                        , trans.txn_sum
                                        , count(trans.cust_id) OVER (PARTITION BY crds.cust_id) as all_trans_count
                                        , crds.control_group_flg
                                    FROM single_cards as crds
                                    LEFT JOIN trans 
                                    ON crds.cust_id = trans.cust_id  
                                    AND trans.txn_sum >= 500 
                                    AND crds.open_dt <= trans.transaction_dt
                                    AND trans.transaction_dt < date_add(crds.open_dt, 14) 
                                ) main
                                GROUP BY cust_id 
                                    , open_dt 
                                    , all_trans_count
                                    , CASE WHEN main.all_trans_count >= 3 
                                            THEN 1
                                            ELSE 0
                                      END
                                    , control_group_flg
                            ) a
                            LEFT JOIN trans as all_t
                                ON a.cust_id = all_t.cust_id 
                            group by a.cust_id 
                                , a.open_dt 
                                , a.campaign_txn_sum
                                , a.all_trans_count
                                , a.flag_success_campaign
                                , a.control_group_flg
                            """)
results.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[cust_id#119, open_dt#429, campaign_txn_sum#424, all_trans_count#423L, flag_success_campaign#425, control_group_flg#432L], functions=[sum(coalesce(txn_sum#451, 0.0))])
   +- HashAggregate(keys=[cust_id#119, open_dt#429, knownfloatingpointnormalized(normalizenanandzero(campaign_txn_sum#424)) AS campaign_txn_sum#424, all_trans_count#423L, flag_success_campaign#425, control_group_flg#432L], functions=[partial_sum(coalesce(txn_sum#451, 0.0))])
      +- Project [cust_id#119, open_dt#429, campaign_txn_sum#424, all_trans_count#423L, flag_success_campaign#425, control_group_flg#432L, txn_sum#451]
         +- SortMergeJoin [cust_id#119], [cust_id#448], LeftOuter
            :- Sort [cust_id#119 ASC NULLS FIRST], false, 0
            :  +- HashAggregate(keys=[cust_id#119, open_dt#429, all_trans_count#423L, _groupingexpression#473, control_group_flg#432L], functions=[sum(CASE WHEN (all_trans_count#423L >= 3) THEN txn_sum#128 ELSE 0.0 END)])
            :     +- HashAggregate(keys=[cust_id#119, open_dt#429, all_trans_count#423L, _groupingexpression#473, control_group_flg#432L], functions=[partial_sum(CASE WHEN (all_trans_count#423L >= 3) THEN txn_sum#128 ELSE 0.0 END)])
            :        +- Project [cust_id#119, open_dt#429, txn_sum#128, all_trans_count#423L, control_group_flg#432L, CASE WHEN (all_trans_count#423L >= 3) THEN 1 ELSE 0 END AS _groupingexpression#473]
            :           +- Window [count(cust_id#125) windowspecdefinition(cust_id#119, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS all_trans_count#423L], [cust_id#119]
            :              +- Project [cust_id#119, open_dt#429, txn_sum#128, control_group_flg#432L, cust_id#125]
            :                 +- SortMergeJoin [cust_id#119], [cust_id#125], LeftOuter, ((open_dt#429 <= transaction_dt#126) AND (transaction_dt#126 < cast(date_add(cast(open_dt#429 as date), 14) as timestamp)))
            :                    :- Sort [cust_id#119 ASC NULLS FIRST], false, 0
            :                    :  +- HashAggregate(keys=[cust_id#119, control_group_flg#432L], functions=[min(open_dt#120)])
            :                    :     +- HashAggregate(keys=[cust_id#119, control_group_flg#432L], functions=[partial_min(open_dt#120)])
            :                    :        +- Project [cust_id#119, open_dt#120, control_group_flg#432L]
            :                    :           +- SortMergeJoin [cust_id#119], [cust_id#438], Inner, (max_contact_dt#428 <= open_dt#120)
            :                    :              :- Sort [cust_id#119 ASC NULLS FIRST], false, 0
            :                    :              :  +- Exchange hashpartitioning(cust_id#119, 200), ENSURE_REQUIREMENTS, [plan_id=2050]
            :                    :              :     +- BroadcastHashJoin [cust_id#119], [cust_id#109], LeftAnti, BuildRight, true
            :                    :              :        :- Project [cust_id#119, open_dt#120]
            :                    :              :        :  +- Filter (isnotnull(cust_id#119) AND isnotnull(open_dt#120))
            :                    :              :        :     +- Scan ExistingRDD[cust_id#119,open_dt#120,contact_dt#121]
            :                    :              :        +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=2030]
            :                    :              :           +- Project [cust_id#109]
            :                    :              :              +- Filter (cnt#192L > 1)
            :                    :              :                 +- HashAggregate(keys=[cust_id#109], functions=[count(distinct control_group_flg#103L)])
            :                    :              :                    +- Exchange hashpartitioning(cust_id#109, 200), ENSURE_REQUIREMENTS, [plan_id=2025]
            :                    :              :                       +- HashAggregate(keys=[cust_id#109], functions=[partial_count(distinct control_group_flg#103L)])
            :                    :              :                          +- HashAggregate(keys=[cust_id#109, control_group_flg#103L], functions=[])
            :                    :              :                             +- Exchange hashpartitioning(cust_id#109, control_group_flg#103L, 200), ENSURE_REQUIREMENTS, [plan_id=2021]
            :                    :              :                                +- HashAggregate(keys=[cust_id#109, control_group_flg#103L], functions=[])
            :                    :              :                                   +- Project [control_group_flg#103L, cust_id#109]
            :                    :              :                                      +- Scan ExistingRDD[channel_type#101,contact_dt#102,control_group_flg#103L,sent#104L,delivered#105L,opened#106L,clicked#107L,blocked#108L,cust_id#109]
            :                    :              +- Sort [cust_id#438 ASC NULLS FIRST], false, 0
            :                    :                 +- Exchange hashpartitioning(cust_id#438, 200), ENSURE_REQUIREMENTS, [plan_id=2051]
            :                    :                    +- Filter isnotnull(max_contact_dt#428)
            :                    :                       +- HashAggregate(keys=[cust_id#438, control_group_flg#432L], functions=[max(contact_dt#431)])
            :                    :                          +- Exchange hashpartitioning(cust_id#438, control_group_flg#432L, 200), ENSURE_REQUIREMENTS, [plan_id=2045]
            :                    :                             +- HashAggregate(keys=[cust_id#438, control_group_flg#432L], functions=[partial_max(contact_dt#431)])
            :                    :                                +- BroadcastHashJoin [cust_id#438], [cust_id#323], LeftAnti, BuildRight, true
            :                    :                                   :- Project [contact_dt#431, control_group_flg#432L, cust_id#438]
            :                    :                                   :  +- Filter ((isnotnull(control_group_flg#432L) AND (control_group_flg#432L = 0)) AND isnotnull(cust_id#438))
            :                    :                                   :     +- Scan ExistingRDD[channel_type#430,contact_dt#431,control_group_flg#432L,sent#433L,delivered#434L,opened#435L,clicked#436L,blocked#437L,cust_id#438]
            :                    :                                   +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=2041]
            :                    :                                      +- Project [cust_id#323]
            :                    :                                         +- Filter (cnt#311L > 1)
            :                    :                                            +- HashAggregate(keys=[cust_id#323], functions=[count(distinct control_group_flg#317L)])
            :                    :                                               +- Exchange hashpartitioning(cust_id#323, 200), ENSURE_REQUIREMENTS, [plan_id=2036]
            :                    :                                                  +- HashAggregate(keys=[cust_id#323], functions=[partial_count(distinct control_group_flg#317L)])
            :                    :                                                     +- HashAggregate(keys=[cust_id#323, control_group_flg#317L], functions=[])
            :                    :                                                        +- Exchange hashpartitioning(cust_id#323, control_group_flg#317L, 200), ENSURE_REQUIREMENTS, [plan_id=2032]
            :                    :                                                           +- HashAggregate(keys=[cust_id#323, control_group_flg#317L], functions=[])
            :                    :                                                              +- Project [control_group_flg#317L, cust_id#323]
            :                    :                                                                 +- Scan ExistingRDD[channel_type#315,contact_dt#316,control_group_flg#317L,sent#318L,delivered#319L,opened#320L,clicked#321L,blocked#322L,cust_id#323]
            :                    +- Sort [cust_id#125 ASC NULLS FIRST], false, 0
            :                       +- Exchange hashpartitioning(cust_id#125, 200), ENSURE_REQUIREMENTS, [plan_id=2071]
            :                          +- BroadcastHashJoin [cust_id#125], [cust_id#447], LeftAnti, BuildRight, true
            :                             :- Project [cust_id#125, transaction_dt#126, txn_sum#128]
            :                             :  +- Filter (((isnotnull(txn_sum#128) AND (txn_sum#128 >= 500.0)) AND isnotnull(cust_id#125)) AND isnotnull(transaction_dt#126))
            :                             :     +- Scan ExistingRDD[cust_id#125,transaction_dt#126,mcc_id#127L,txn_sum#128]
            :                             +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=2067]
            :                                +- Project [cust_id#447]
            :                                   +- Filter (cnt#221L > 1)
            :                                      +- HashAggregate(keys=[cust_id#447], functions=[count(distinct control_group_flg#441L)])
            :                                         +- Exchange hashpartitioning(cust_id#447, 200), ENSURE_REQUIREMENTS, [plan_id=2062]
            :                                            +- HashAggregate(keys=[cust_id#447], functions=[partial_count(distinct control_group_flg#441L)])
            :                                               +- HashAggregate(keys=[cust_id#447, control_group_flg#441L], functions=[])
            :                                                  +- Exchange hashpartitioning(cust_id#447, control_group_flg#441L, 200), ENSURE_REQUIREMENTS, [plan_id=2058]
            :                                                     +- HashAggregate(keys=[cust_id#447, control_group_flg#441L], functions=[])
            :                                                        +- Project [control_group_flg#441L, cust_id#447]
            :                                                           +- Scan ExistingRDD[channel_type#439,contact_dt#440,control_group_flg#441L,sent#442L,delivered#443L,opened#444L,clicked#445L,blocked#446L,cust_id#447]
            +- Sort [cust_id#448 ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(cust_id#448, 200), ENSURE_REQUIREMENTS, [plan_id=2093]
                  +- BroadcastHashJoin [cust_id#448], [cust_id#460], LeftAnti, BuildRight, true
                     :- Project [cust_id#448, txn_sum#451]
                     :  +- Filter isnotnull(cust_id#448)
                     :     +- Scan ExistingRDD[cust_id#448,transaction_dt#449,mcc_id#450L,txn_sum#451]
                     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=2089]
                        +- Project [cust_id#460]
                           +- Filter (cnt#221L > 1)
                              +- HashAggregate(keys=[cust_id#460], functions=[count(distinct control_group_flg#454L)])
                                 +- Exchange hashpartitioning(cust_id#460, 200), ENSURE_REQUIREMENTS, [plan_id=2084]
                                    +- HashAggregate(keys=[cust_id#460], functions=[partial_count(distinct control_group_flg#454L)])
                                       +- HashAggregate(keys=[cust_id#460, control_group_flg#454L], functions=[])
                                          +- Exchange hashpartitioning(cust_id#460, control_group_flg#454L, 200), ENSURE_REQUIREMENTS, [plan_id=2080]
                                             +- HashAggregate(keys=[cust_id#460, control_group_flg#454L], functions=[])
                                                +- Project [control_group_flg#454L, cust_id#460]
                                                   +- Scan ExistingRDD[channel_type#452,contact_dt#453,control_group_flg#454L,sent#455L,delivered#456L,opened#457L,clicked#458L,blocked#459L,cust_id#460]

The dataframe of the results includes the fields: 
- cust_id 
- open_dt
- all_txt_sum (Sum of all transactions) 
- campaign_txt_sum (The amount of transactions during the execution of the campaign)
- campaign_trans_count (The number of transactions during the execution of the campaign)
- flag_success_campaign (Campaign execution flag. 1 - the conditions are met. 0 - conditions are not met)

Campaign execution condition:
The client must open a new Visa card and make 3 transactions in the amount of at least 500 rubles each within a 14-day period.

In [29]:
results.sort("cust_id").limit(1000).show(100, False)

+----------------------------------------------------------------+-------------------+------------------+------------------+--------------------+---------------------+-----------------+
|cust_id                                                         |open_dt            |all_txn_sum       |campaign_txn_sum  |campaign_trans_count|flag_success_campaign|control_group_flg|
+----------------------------------------------------------------+-------------------+------------------+------------------+--------------------+---------------------+-----------------+
|0000d77b0a84faaed1feb633819762454e11b716c7a9e4090f8c27ebc797f7f2|2021-08-20 00:00:00|6081.48           |0.0               |0                   |0                    |0                |
|0001f693f461c4a742c3bec39528bab626212dab10d27e2b638bdd5f19bd1064|2021-08-17 00:00:00|5748.05           |0.0               |0                   |0                    |0                |
|000238bd9e5c9d21a742471123ae9dcb4d391273223890c465945375b69d3aa2|2021-08-18 00:00:00|27452.329999999994|12963.84          |10                  |1                    |0                |
|0002c082f655af19e9469c15fdde4dfd6e9fb2494171c91712e9a6328fe48c67|2021-08-14 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00069a7fd6ef17ac261807b9887ddf90e409180e2903a4f9e3637fda00992881|2021-08-23 00:00:00|2046.41           |0.0               |1                   |0                    |0                |
|000ac0a8339e129445108f872398c544e8161b2c7cc62d5e9a9cbec439972206|2021-08-20 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|000fb6166f2cc109d447d506a84b18296f6fee1687cd75e38f6dd4636457f44f|2021-08-24 00:00:00|1140.93           |0.0               |0                   |0                    |0                |
|0010b75c92fda9aaa63c49a13b93662302fb78318c9ed1dea16c52bb3dcc4670|2021-08-19 00:00:00|92.0              |0.0               |0                   |0                    |0                |
|001aad67b14953ea6aa7d761d7d0e40e35ff69c28fdd71d856e8d0b61abf880d|2021-08-18 00:00:00|20431.449999999993|0.0               |0                   |0                    |0                |
|001d5c61be1d7cb79f03bbd5cd914b0c7b01566b9cfd6fc7c81163912b8ae1ea|2021-08-19 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0022dd1c9673c166fdc7f005bab4524843e0e039f2834687e9d9fcc15b0389f0|2021-08-24 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0023250272ad22842519826068751fa744ad12796dccbc3a4c3da937e7cb2496|2021-08-22 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00244001bd4fa42defdb2692cb4ffd40809d4aa793d0cfd06a1fade327f9ccd4|2021-08-13 00:00:00|29045.199999999997|4297.629999999999 |4                   |1                    |0                |
|002510a1331bd474081af8dccac983a4f1ef9cbec6d07af0f696a8285a86713d|2021-08-20 00:00:00|30022.82          |9002.76           |9                   |1                    |0                |
|002783fa307628900e162071fdceb7ceab1b47afcdd640be82a4ed3b449f8970|2021-08-18 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|002ad6968c1cabf7cc6694445b837a04105e9b4562bff56047f99609bf1afb4b|2021-08-23 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00321668075831d53fbdd1ac17309ed3d2f4716dd68b0d96103ae1fdd7b84b49|2021-08-17 00:00:00|7174.0            |0.0               |0                   |0                    |0                |
|0036cd7a63e2ba170c5fcdf9a174ec3fef47e1aefccae4faa5625cbc0e0b92fa|2021-08-21 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|003ab88072ce4745d428615f072f0badcfb3372a41b50834d15ed5d4865120e7|2021-08-17 00:00:00|21560.390000000003|5045.25           |5                   |1                    |0                |
|003bbae7a44976754089abc41539c8988134634e93e9a79a8033d199218b202c|2021-08-13 00:00:00|67301.73000000001 |50503.47          |3                   |1                    |0                |
|003d4eab7aae815348d1d3f3ad7159c168db7adf058618caa97617dceed17b78|2021-08-26 00:00:00|54463.020000000004|48787.91          |10                  |1                    |0                |
|003dd7b5bb30d611a6fc57afed04dfeb3c4f18f157cb4b3ddf7faeb59dc38811|2021-08-18 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0042455a0ce3f4fa942e2b27475b9342c53f3b0159f5c6a57b90fffcb156c65f|2021-08-26 00:00:00|3644.6            |0.0               |0                   |0                    |0                |
|004573f3cb1f0d294c4c9acb003fe5404a50cb1105b2e60bfdc15af1897f56d7|2021-08-23 00:00:00|12131.14          |7891.56           |9                   |1                    |0                |
|004642cf4654c1a8419ce560e7df55ccc97c526979b94b935ebf9813eaf29367|2021-08-19 00:00:00|12998.53          |0.0               |1                   |0                    |0                |
|0049579fae9aeb9411eaed953fca63ae11fb34197199d69676287f78720ddce9|2021-08-12 00:00:00|23636.129999999997|8550.55           |3                   |1                    |0                |
|004b311d6974a83d723a5412a69400389443658d0d0a7cc0fd675ca483a28264|2021-08-21 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0052175f5f664bebda0705c6c1a7d5253eda9a42780d1c945ea8a7205b66983e|2021-08-25 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0053411cb1baa1d6bbc62e6def408fc38cd870c46d8e3dcd2899cd917e003da7|2021-08-12 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00542ffdc08f63aa26aa41c8362ee681c3a46d82eb48022ce8cfc9ab5812e8a5|2021-08-16 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0057427ab0e81764e88c74e01290553a33f58314d15aecf6ce1905763cc1bf3c|2021-08-23 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00589c2f3e100592c92b72af767a503b401bec4a3453a5bef0131de16b98db72|2021-08-25 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|005ba7535b6c6929ba03c2c40c779984f557015b84881c62e503064d47e7bbab|2021-08-14 00:00:00|26416.17          |0.0               |0                   |0                    |0                |
|0073e4ae42759e2dd88c9a13a4929989946afb5edbcf96156e328bfb0cceb97e|2021-08-13 00:00:00|8019.79           |3463.79           |3                   |1                    |0                |
|00750f97131ea73bb7cd5344fc908315e65e18bc562755231794ee3c2552ccb6|2021-08-25 00:00:00|4532.42           |0.0               |0                   |0                    |0                |
|00755ad76bb67f12d46f8574495d90af2939d8921e73f9b7eb0fd39a1c01f6e9|2021-08-12 00:00:00|50951.240000000005|8754.04           |8                   |1                    |0                |
|0076d82cb43cbb4f1307a3fc3facf67e8b4c2619e29995ddf8867f575592db6c|2021-08-24 00:00:00|1.0               |0.0               |0                   |0                    |0                |
|00797d77f08978124ec37f69495138547d8cf60c0d9f7fc7f0c2b902d58054a0|2021-08-12 00:00:00|11063.089999999998|0.0               |0                   |0                    |0                |
|007a801ad0e36258d3a0174369ac8d374b726834d459b889e8f820a9fdaded5b|2021-08-12 00:00:00|57639.28          |15543.76          |13                  |1                    |0                |
|007e8f1a37b9a587f02bc5e7b2ad7b6a52be2e3bc0b7659be1ffeee1dd772a73|2021-08-24 00:00:00|29772.000000000004|20247.01          |13                  |1                    |0                |
|00806035deaec9ed0fde1c2db0db8e095b102a5d898ea5298d2b68897259083c|2021-08-25 00:00:00|5368.49           |0.0               |1                   |0                    |0                |
|0083b7fd60c8d42b0a9693059e5c285ddec1c74159b2265a11a1999b487d79da|2021-08-12 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0084bc08371922a737cae4403b9b308e72c2d23f61a870c44763ee5c969ec575|2021-08-12 00:00:00|15233.850000000002|0.0               |0                   |0                    |0                |
|00863eb5cb6f58c2aa0fe79b81577e39f8fb1da2bc4d505acf4d9ab9faa9a5d1|2021-08-18 00:00:00|285.0             |0.0               |0                   |0                    |0                |
|008c0999f0312f2d94d3aab37d1e30e0ae4da4ab988bd47164536dfed30c312d|2021-08-12 00:00:00|5130.589999999999 |2662.18           |3                   |1                    |0                |
|008e927cb6932c000403a46bc6657839085eeb7cb2e2fc12fb6923ae6b00272d|2021-08-23 00:00:00|32479.46          |14265.98          |10                  |1                    |0                |
|0093c84fca370e12439e01750dfc985b300e5d9c1bbd12e40874e788d15fb747|2021-08-23 00:00:00|1206.8400000000001|0.0               |0                   |0                    |0                |
|00962cfdf2f7d88f56f0b55b4eba478c090c106e75af1acc81b915705b7c1d66|2021-08-17 00:00:00|22791.620000000006|7047.509999999999 |9                   |1                    |0                |
|009c1868042fa07990286f77ebcdb1a00f2ec0c3ff34c161532b26b5f539a767|2021-08-27 00:00:00|15680.749999999998|0.0               |1                   |0                    |0                |
|00a1f0bc7e0b2316bde5971209a7a617ed7ddfb630b5bb944273b9cc9d523d16|2021-08-18 00:00:00|1021.6            |0.0               |1                   |0                    |0                |
|00ab43d46381f83d1d75d25566cf2240f9b7bd7c205f87b736cf8f7efcd40203|2021-08-25 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00b37f58f81cfa9f12b1b28e401de1849dc14cf1dfaca4a6a9cf67cdd019614c|2021-08-18 00:00:00|10530.03          |0.0               |2                   |0                    |0                |
|00b7c4f2d17c75a4f3d0343c1db530cc1603f9291b0c5c3d62ed3504c4f5f5c9|2021-08-20 00:00:00|9304.07           |4322.55           |4                   |1                    |0                |
|00bd9da8355fc89eebef38dd9d374d64a9faebbace93354fc44a2fe76117869f|2021-08-25 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00c30e3524511735a42b0f56824180266f7e8a684009321098970975aaeebbf0|2021-08-19 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00ca1f16d3aad697a09a49797d1eb03b45121ec031129db59683376adca4a5bc|2021-08-12 00:00:00|82925.70999999998 |6938.790000000001 |6                   |1                    |0                |
|00caf8ed0bcc7cd749c38e1ce60ef9719ba5401c2de3610a462431bbd9192ee0|2021-08-17 00:00:00|14153.54          |0.0               |2                   |0                    |0                |
|00cdb609730856b4c101662340d9ba1c20aa656bbd5aa7e8b2f9202600e4d443|2021-08-20 00:00:00|31076.490000000005|19639.67          |7                   |1                    |0                |
|00cf96474676d120f13f61c667d261b5751929a80a717723f42915a8e2fa75b2|2021-08-25 00:00:00|29827.970000000005|12822.11          |13                  |1                    |0                |
|00dc66217699864182afe9ddfb889fd6a97b0ca3830c9a5cec0f67bfdf250023|2021-08-13 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00e0c825b231d7aead3f2acf12e05c68da1fcb7d0fca405d6ee233bf317b6648|2021-08-12 00:00:00|11814.340000000002|0.0               |2                   |0                    |0                |
|00e3822250608d753f5bd2f2e6dbe334518529823e52aeccb0d6e2da9e4a14a1|2021-08-26 00:00:00|26309.960000000003|3290.15           |5                   |1                    |0                |
|00e79b836c37871839ea88201b8c2b8c3b2cc880054a739bc1adc02e50337b7b|2021-08-24 00:00:00|2230.0            |0.0               |0                   |0                    |0                |
|00e7c902030e44ebd14e57b43605e0084530d3dacdfc0bc0578c02e165bb7ad3|2021-08-23 00:00:00|620.0             |0.0               |0                   |0                    |0                |
|00eb8a0837cb036362c06d0a5aad3411e8d61a9c22d5bf39f15f8917f49a00ff|2021-08-19 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00f3eba30a5fc90df18f39df9f8a10db44fc3db1b522939676c15b9ad0fc459f|2021-08-20 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00f962f29f6bdef3ac4e0a0e1c3989d87cc74613114ca2d867cfb720da44bca3|2021-08-13 00:00:00|3389.0            |0.0               |0                   |0                    |0                |
|00fcbe8d2c611fb5127841a089ed8f74b591105c57dc5a04feb162d8ec099f26|2021-08-23 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00fd4fed5f6c5491682050cd36bd5fab7edf6c1973a2463ac67addd8148bebcd|2021-08-25 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|00fd7e421b877bf7b76ebcd7e0b073b67b95f9a84b50dff523cd481e17d61814|2021-08-16 00:00:00|12702.160000000002|0.0               |0                   |0                    |0                |
|00fe24730c88d72b54b277c51fb316364ac74eae4232edff48dd0ea9af858d1f|2021-08-12 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0105343ae67552ef8751c65d09c178ca0270a51181ac93afa90abf7f3e28477e|2021-08-26 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0105449e01664e4874b45f5b610b6dec5f8578339d5211e8a69a578986b21858|2021-08-17 00:00:00|30333.660000000003|28018.100000000002|12                  |1                    |0                |
|01071f34e5892a5d3665fcaf9407494c83bfb262b743486fdd72cfb2da00f784|2021-08-17 00:00:00|49148.229999999996|20656.0           |6                   |1                    |0                |
|0107dd29d1ccf3aa1ade4fe8534abc6abfc7b88861cfb5dd75dbfd6b9d0426c0|2021-08-17 00:00:00|11220.779999999999|1988.78           |3                   |1                    |0                |
|01148364dd90709e234fc2cc61d208117c7338650feb59fe0660c5738496b3d7|2021-08-17 00:00:00|1999.0            |0.0               |1                   |0                    |0                |
|012419aefeae0322b156e8c3d86f3932e4c67539045a373b8928b020c35aedba|2021-08-26 00:00:00|20289.12          |5482.6900000000005|5                   |1                    |0                |
|0126231fdc7adfff75416242b4a3d82784c61b4899c271db21e60d4084197a66|2021-08-27 00:00:00|10620.339999999998|7615.349999999999 |6                   |1                    |0                |
|012646e1be09389bae69ee750ccf2f082b621de4d7a9dd52115906497582c6c5|2021-08-26 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0126bc70fa67da9bbb90b4d08f1bfd43e275b22a1c202e213e2705826442e84f|2021-08-12 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|012ac17d87f58f4e9dfde32dd28e53fa01f3062dab510bb318c7aa6d0d50cd50|2021-08-24 00:00:00|5168.280000000001 |3968.28           |4                   |1                    |0                |
|012b2dc47b1200286332c22a0f01c6ebc76031133cec8fabd23b13ec5ab0c928|2021-08-13 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|0130765f53039168fb52f5df23c0023552c936098b09ff8bd340842ce18010bd|2021-08-16 00:00:00|2339.1            |0.0               |0                   |0                    |0                |
|01320aebb4ce5868cc18f8a00fb1e95a7bc7a121d583d243665b70d0b05d7e02|2021-08-17 00:00:00|39983.49          |0.0               |0                   |0                    |0                |
|013bb853b81ca90d5b8d634062d00022da924464d1ccf347ff6c043f0da5e276|2021-08-24 00:00:00|3899.0            |0.0               |0                   |0                    |0                |
|013c808460ab62849954f8649ccab16bd92552a34f68d290730985ed21effb98|2021-08-26 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|01421a38cdc117ac8e6a287755e5ade690ccfed9aa896bcc9e8574a662af2b83|2021-08-17 00:00:00|7111.97           |6527.62           |5                   |1                    |0                |
|01466546a097ceca232399e2507fe3abf8c51e174dc9be6696783afb68d6c387|2021-08-17 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|014cb1ab9a6ccabcfc26e6850400f6c63d2f80352cf66eda693a1a7449173216|2021-08-24 00:00:00|12252.5           |12252.5           |6                   |1                    |0                |
|014da451ded984266fde1927e8a5e73f1a180c18925bc95fa570a3decafbaef9|2021-08-13 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|015020824d1dd1e304d0c3e03821e0ccca583fac6378c702b44337ff427d63f9|2021-08-25 00:00:00|47604.28          |29626.870000000003|22                  |1                    |0                |
|0154f107858ec174bf4633af07e6f002e68a16d8421bfc1b2b48ebaf5869a9fa|2021-08-26 00:00:00|3265.0            |3264.0            |3                   |1                    |0                |
|01561c69e9aba0580b32bd2200d4fd993c0baf0c764ca30262987e87e9491307|2021-08-12 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|01564256646968b5ab2332e1a651bc0dc36334b8342c1c03268303685255d777|2021-08-24 00:00:00|260.0             |0.0               |0                   |0                    |0                |
|01566c9758485949a2dba33d99e265d3a7fc6cdbbf33945de454e955118e9058|2021-08-18 00:00:00|72000.79999999999 |16544.010000000002|13                  |1                    |0                |
|01585354ca9479898ac56366f1d8e6dd3af18c84e2bf26a2c790e27f67e8f8e3|2021-08-17 00:00:00|25671.210000000003|10469.07          |12                  |1                    |0                |
|015a7f0642bec7d6d78c144d991c6fce40e5178127bd2f59035dc6ced920c434|2021-08-20 00:00:00|16738.159999999996|4866.51           |4                   |1                    |0                |
|015f8490e4dde11d9b50d29baa08d8a0d2b5f8a70ffa7b2b81168ff5055cb793|2021-08-23 00:00:00|60769.4           |31347.75          |15                  |1                    |0                |
|01615e1367eca6eda6a5c81155eafe0a3e4840ffee41d5e169c001f9f4d4e447|2021-08-20 00:00:00|0.0               |0.0               |0                   |0                    |0                |
|016428b1bf31b88660126f4728a0bf36b4dfbc0e008c608059dcae1fef95fa57|2021-08-16 00:00:00|14432.479999999998|9494.12           |10                  |1                    |0                |
+----------------------------------------------------------------+-------------------+------------------+------------------+--------------------+---------------------+-----------------+
only showing top 100 rows

# Key indicators
For analysis we will analyze rates of email funnel indicators: Delivery rate, open rate, click rate, etc. And also we will consider conversion and revenue.

# Email funnel calculations

__Delivery rate__ ( DR = number of delivered emails ÷ number of sent emails × 100)

In [30]:
df_visa_comms.filter(df_visa_comms.sent == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.sent).count()

504706

In [31]:
df_visa_comms.filter(df_visa_comms.delivered == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.delivered).count()

504706

In [32]:
DR = ((df_visa_comms.filter(df_visa_comms.delivered == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.delivered).count())/(df_visa_comms.filter(df_visa_comms.sent == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.sent).count()))*100

In [33]:
np.round(DR,1)

100.0

**Open rate** OR = open_emails/delivered * 100%

In [34]:
df_visa_comms.filter(df_visa_comms.opened == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.opened).count()

51816

In [35]:
OR = ((df_visa_comms.filter(df_visa_comms.opened == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.opened).count())/(df_visa_comms.filter(df_visa_comms.delivered == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.delivered).count()))*100

In [36]:
np.round(OR,1)

10.3

**Click Rate** = clicked_emails/delivered * 100%

In [37]:
df_visa_comms.filter(df_visa_comms.clicked == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.clicked).count()

3053

In [38]:
CR = ((df_visa_comms.filter(df_visa_comms.clicked == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.clicked).count())/(df_visa_comms.filter(df_visa_comms.delivered == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.delivered).count()))*100

In [39]:
np.round(CR,1)

0.6

**ConvR** = made target action / delivered emails * 100%

In [40]:
results.filter(results.flag_success_campaign == 1).select(results.flag_success_campaign).count()

5369

In [41]:
ConvR =((results.filter(results.flag_success_campaign == 1).select(results.flag_success_campaign).count())/(df_visa_comms.filter(df_visa_comms.delivered == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.delivered).count())) * 100

In [42]:
np.round(ConvR,1)

1.1

**Revenue_per_email** sum of revenue from campaign/delivered emails * 100

In [43]:

(results.select(results.campaign_txn_sum).agg(sum("campaign_txn_sum")).show())

+---------------------+
|sum(campaign_txn_sum)|
+---------------------+
|  9.664379336999992E7|
+---------------------+

In [44]:
np.round(9.664379336999992E7 / (df_visa_comms.filter(df_visa_comms.delivered == 1).filter(df_visa_comms.channel_type == 'EMAIL').select(df_visa_comms.delivered).count()),1)

191.5

Based on the results of analytics, we have identified DR. We see in absolute values that the number of emails delivered is equal to the number of emails sent and DR=100%. This is very good, because we see that the letters were not lost and reached the addressees. It is important to note that a high speed of delivery does not mean a high place in the Inbox – your email can be delivered, but end up in junk mail folders where the recipient will not notice it. Therefore, it is important to calculate other indicators.

In this case, the bounce rate is also considered.
The bounce rate errors can be of two types:

Soft (Soft bounces). The error occurred on the mail server or on your side. Such errors can be corrected and still make sure that the letter reaches the client.

Hard (Strong bounces). It is impossible to deliver the letter, for example, you have the wrong address or the mailbox has been deleted. If this indicator is close to 4-5%, you need to solve technical problems before continuing work.

The open rate is quite low when compared with benchmarks from HubSpot and campaign monitoring **[ 1, 2 ]** for the banking industry. There they are kept in the range from 18 to 27 percent. 

The click rate seems more normal based on the benchmark of 1.27% **[3]**, but still lower.

The CR seems low relative to benchmarks, but it needs to be looked at in dynamics also at the company **[4]**.

It is important to note that RPE calculates the profit received/ (the number of emails sent is the number of undelivered emails). However, since we have we have the flag delivered and the quantity with the flag this matches the sent formula we have reduced. In fact, according to statistics, this indicator is tracked less often than others. RPE can be crucial in determining the success of a company **[5]**. It helps to evaluate the effectiveness of mailing, but without taking into account data on the cost of email. In this sense, RPE is an alternative to more accurate metrics, such as return on investment. It is easier and faster to calculate RPE - to calculate the return on investment, we need all the costs for the period. Plus, it is not always possible — for example, if there are several businesses or business units and there is no clear structuring of income and expenses. 

RPE is a non—independent metric. To interpret it more accurately, we need to analyze it together with the total revenue from the mailing list. Without this, it is impossible to say unequivocally that the growth of the RPE is always good, and the fall is always bad. Depending on how both indicators change, we can assume the reason and draw conclusions. If we had had an RPE for the last newsletter and we understood its boundaries, we could compare them in dynamics.

Even if the figures are lower than expected, this does not always mean that the mailing list is bad. Indicators depends on many factors: for example, on the information field in which readers are located, or on how the database was compiled. Perhaps it was a cold base of clients in our marketing campaign, in general, the indicators were much lower.

Therefore, there is a general recommendation: first of all, focus on how the indicators change.

Sources:
1. https://www.campaignmonitor.com/resources/guides/email-marketing-benchmarks/
2. https://blog.hubspot.com/sales/average-email-open-rate-benchmark?_ga=2.44782887.247958909.1559198466-1080458066.1558941446
3. https://www.smartinsights.com/email-marketing/email-communications-strategy/statistics-sources-for-email-marketing/
4. https://exponea.com/blog/email-marketing-analytics-metrics-goals-kpis/?ysclid=lbbylgx6fw730733283
5. https://emailmatrix.ru/blog/the-value-of-calculating-revenue-per-email/?ysclid=lbbykxcwpe466291172

# Comparison test and control groups

In [45]:
results_control = sqlContext.sql("""WITH single_cards as (
                                SELECT crds.cust_id , control_group_flg , min(crds.open_dt) as open_dt
                                FROM crds 
                                INNER JOIN (SELECT cust_id , control_group_flg FROM comms GROUP BY cust_id , control_group_flg) as cm 
                                ON crds.cust_id = cm.cust_id AND cm.control_group_flg = 1  
                                GROUP BY crds.cust_id, cm.control_group_flg
                            )
                            SELECT a.cust_id 
                                , a.open_dt 
                                , sum(coalesce(all_t.txn_sum,0)) as all_txn_sum
                                , a.campaign_txn_sum
                                , a.all_trans_count as campaign_trans_count
                                , a.flag_success_campaign
                                , a.control_group_flg
                            FROM (
                                SELECT cust_id 
                                    , open_dt 
                                    , sum(CASE WHEN main.all_trans_count >= 3 
                                                THEN txn_sum
                                                ELSE 0
                                          END) AS campaign_txn_sum
                                    , all_trans_count
                                    , CASE WHEN main.all_trans_count >= 3 
                                            THEN 1
                                            ELSE 0
                                      END AS flag_success_campaign
                                    , control_group_flg
                                FROM (
                                    SELECT crds.cust_id 
                                        , crds.open_dt 
                                        , trans.transaction_dt 
                                        , trans.mcc_id 
                                        , trans.txn_sum
                                        , count(trans.cust_id) OVER (PARTITION BY crds.cust_id) as all_trans_count
                                        , crds.control_group_flg
                                    FROM single_cards as crds
                                    LEFT JOIN trans 
                                    ON crds.cust_id = trans.cust_id  
                                    AND trans.txn_sum >= 500 
                                    AND crds.open_dt <= trans.transaction_dt
                                    AND trans.transaction_dt < date_add(crds.open_dt, 14) 
                                ) main
                                GROUP BY cust_id 
                                    , open_dt 
                                    , all_trans_count
                                    , CASE WHEN main.all_trans_count >= 3 
                                            THEN 1
                                            ELSE 0
                                      END
                                    , control_group_flg
                            ) a
                            LEFT JOIN trans as all_t
                                ON a.cust_id = all_t.cust_id 
                            group by a.cust_id 
                                , a.open_dt 
                                , a.campaign_txn_sum
                                , a.all_trans_count
                                , a.flag_success_campaign
                                , a.control_group_flg
                            """)
results_control.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[cust_id#119, open_dt#935, campaign_txn_sum#931, all_trans_count#930L, flag_success_campaign#932, control_group_flg#938L], functions=[sum(coalesce(txn_sum#957, 0.0))])
   +- HashAggregate(keys=[cust_id#119, open_dt#935, knownfloatingpointnormalized(normalizenanandzero(campaign_txn_sum#931)) AS campaign_txn_sum#931, all_trans_count#930L, flag_success_campaign#932, control_group_flg#938L], functions=[partial_sum(coalesce(txn_sum#957, 0.0))])
      +- Project [cust_id#119, open_dt#935, campaign_txn_sum#931, all_trans_count#930L, flag_success_campaign#932, control_group_flg#938L, txn_sum#957]
         +- SortMergeJoin [cust_id#119], [cust_id#954], LeftOuter
            :- Sort [cust_id#119 ASC NULLS FIRST], false, 0
            :  +- HashAggregate(keys=[cust_id#119, open_dt#935, all_trans_count#930L, _groupingexpression#978, control_group_flg#938L], functions=[sum(CASE WHEN (all_trans_count#930L >= 3) THEN txn_sum#128 ELSE 0.0 END)])
            :     +- HashAggregate(keys=[cust_id#119, open_dt#935, all_trans_count#930L, _groupingexpression#978, control_group_flg#938L], functions=[partial_sum(CASE WHEN (all_trans_count#930L >= 3) THEN txn_sum#128 ELSE 0.0 END)])
            :        +- Project [cust_id#119, open_dt#935, txn_sum#128, all_trans_count#930L, control_group_flg#938L, CASE WHEN (all_trans_count#930L >= 3) THEN 1 ELSE 0 END AS _groupingexpression#978]
            :           +- Window [count(cust_id#125) windowspecdefinition(cust_id#119, specifiedwindowframe(RowFrame, unboundedpreceding$(), unboundedfollowing$())) AS all_trans_count#930L], [cust_id#119]
            :              +- Project [cust_id#119, open_dt#935, txn_sum#128, control_group_flg#938L, cust_id#125]
            :                 +- SortMergeJoin [cust_id#119], [cust_id#125], LeftOuter, ((open_dt#935 <= transaction_dt#126) AND (transaction_dt#126 < cast(date_add(cast(open_dt#935 as date), 14) as timestamp)))
            :                    :- Sort [cust_id#119 ASC NULLS FIRST], false, 0
            :                    :  +- HashAggregate(keys=[cust_id#119, control_group_flg#938L], functions=[min(open_dt#120)])
            :                    :     +- HashAggregate(keys=[cust_id#119, control_group_flg#938L], functions=[partial_min(open_dt#120)])
            :                    :        +- Project [cust_id#119, open_dt#120, control_group_flg#938L]
            :                    :           +- SortMergeJoin [cust_id#119], [cust_id#944], Inner
            :                    :              :- Sort [cust_id#119 ASC NULLS FIRST], false, 0
            :                    :              :  +- Exchange hashpartitioning(cust_id#119, 200), ENSURE_REQUIREMENTS, [plan_id=14823]
            :                    :              :     +- BroadcastHashJoin [cust_id#119], [cust_id#109], LeftAnti, BuildRight, true
            :                    :              :        :- Project [cust_id#119, open_dt#120]
            :                    :              :        :  +- Filter isnotnull(cust_id#119)
            :                    :              :        :     +- Scan ExistingRDD[cust_id#119,open_dt#120,contact_dt#121]
            :                    :              :        +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=14804]
            :                    :              :           +- Project [cust_id#109]
            :                    :              :              +- Filter (cnt#192L > 1)
            :                    :              :                 +- HashAggregate(keys=[cust_id#109], functions=[count(distinct control_group_flg#103L)])
            :                    :              :                    +- Exchange hashpartitioning(cust_id#109, 200), ENSURE_REQUIREMENTS, [plan_id=14799]
            :                    :              :                       +- HashAggregate(keys=[cust_id#109], functions=[partial_count(distinct control_group_flg#103L)])
            :                    :              :                          +- HashAggregate(keys=[cust_id#109, control_group_flg#103L], functions=[])
            :                    :              :                             +- Exchange hashpartitioning(cust_id#109, control_group_flg#103L, 200), ENSURE_REQUIREMENTS, [plan_id=14795]
            :                    :              :                                +- HashAggregate(keys=[cust_id#109, control_group_flg#103L], functions=[])
            :                    :              :                                   +- Project [control_group_flg#103L, cust_id#109]
            :                    :              :                                      +- Scan ExistingRDD[channel_type#101,contact_dt#102,control_group_flg#103L,sent#104L,delivered#105L,opened#106L,clicked#107L,blocked#108L,cust_id#109]
            :                    :              +- Sort [cust_id#944 ASC NULLS FIRST], false, 0
            :                    :                 +- Exchange hashpartitioning(cust_id#944, 200), ENSURE_REQUIREMENTS, [plan_id=14824]
            :                    :                    +- HashAggregate(keys=[cust_id#944, control_group_flg#938L], functions=[])
            :                    :                       +- Exchange hashpartitioning(cust_id#944, control_group_flg#938L, 200), ENSURE_REQUIREMENTS, [plan_id=14819]
            :                    :                          +- HashAggregate(keys=[cust_id#944, control_group_flg#938L], functions=[])
            :                    :                             +- BroadcastHashJoin [cust_id#944], [cust_id#323], LeftAnti, BuildRight, true
            :                    :                                :- Project [control_group_flg#938L, cust_id#944]
            :                    :                                :  +- Filter ((isnotnull(control_group_flg#938L) AND (control_group_flg#938L = 1)) AND isnotnull(cust_id#944))
            :                    :                                :     +- Scan ExistingRDD[channel_type#936,contact_dt#937,control_group_flg#938L,sent#939L,delivered#940L,opened#941L,clicked#942L,blocked#943L,cust_id#944]
            :                    :                                +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=14815]
            :                    :                                   +- Project [cust_id#323]
            :                    :                                      +- Filter (cnt#311L > 1)
            :                    :                                         +- HashAggregate(keys=[cust_id#323], functions=[count(distinct control_group_flg#317L)])
            :                    :                                            +- Exchange hashpartitioning(cust_id#323, 200), ENSURE_REQUIREMENTS, [plan_id=14810]
            :                    :                                               +- HashAggregate(keys=[cust_id#323], functions=[partial_count(distinct control_group_flg#317L)])
            :                    :                                                  +- HashAggregate(keys=[cust_id#323, control_group_flg#317L], functions=[])
            :                    :                                                     +- Exchange hashpartitioning(cust_id#323, control_group_flg#317L, 200), ENSURE_REQUIREMENTS, [plan_id=14806]
            :                    :                                                        +- HashAggregate(keys=[cust_id#323, control_group_flg#317L], functions=[])
            :                    :                                                           +- Project [control_group_flg#317L, cust_id#323]
            :                    :                                                              +- Scan ExistingRDD[channel_type#315,contact_dt#316,control_group_flg#317L,sent#318L,delivered#319L,opened#320L,clicked#321L,blocked#322L,cust_id#323]
            :                    +- Sort [cust_id#125 ASC NULLS FIRST], false, 0
            :                       +- Exchange hashpartitioning(cust_id#125, 200), ENSURE_REQUIREMENTS, [plan_id=14844]
            :                          +- BroadcastHashJoin [cust_id#125], [cust_id#953], LeftAnti, BuildRight, true
            :                             :- Project [cust_id#125, transaction_dt#126, txn_sum#128]
            :                             :  +- Filter (((isnotnull(txn_sum#128) AND (txn_sum#128 >= 500.0)) AND isnotnull(cust_id#125)) AND isnotnull(transaction_dt#126))
            :                             :     +- Scan ExistingRDD[cust_id#125,transaction_dt#126,mcc_id#127L,txn_sum#128]
            :                             +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=14840]
            :                                +- Project [cust_id#953]
            :                                   +- Filter (cnt#221L > 1)
            :                                      +- HashAggregate(keys=[cust_id#953], functions=[count(distinct control_group_flg#947L)])
            :                                         +- Exchange hashpartitioning(cust_id#953, 200), ENSURE_REQUIREMENTS, [plan_id=14835]
            :                                            +- HashAggregate(keys=[cust_id#953], functions=[partial_count(distinct control_group_flg#947L)])
            :                                               +- HashAggregate(keys=[cust_id#953, control_group_flg#947L], functions=[])
            :                                                  +- Exchange hashpartitioning(cust_id#953, control_group_flg#947L, 200), ENSURE_REQUIREMENTS, [plan_id=14831]
            :                                                     +- HashAggregate(keys=[cust_id#953, control_group_flg#947L], functions=[])
            :                                                        +- Project [control_group_flg#947L, cust_id#953]
            :                                                           +- Scan ExistingRDD[channel_type#945,contact_dt#946,control_group_flg#947L,sent#948L,delivered#949L,opened#950L,clicked#951L,blocked#952L,cust_id#953]
            +- Sort [cust_id#954 ASC NULLS FIRST], false, 0
               +- Exchange hashpartitioning(cust_id#954, 200), ENSURE_REQUIREMENTS, [plan_id=14866]
                  +- BroadcastHashJoin [cust_id#954], [cust_id#966], LeftAnti, BuildRight, true
                     :- Project [cust_id#954, txn_sum#957]
                     :  +- Filter isnotnull(cust_id#954)
                     :     +- Scan ExistingRDD[cust_id#954,transaction_dt#955,mcc_id#956L,txn_sum#957]
                     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),true), [plan_id=14862]
                        +- Project [cust_id#966]
                           +- Filter (cnt#221L > 1)
                              +- HashAggregate(keys=[cust_id#966], functions=[count(distinct control_group_flg#960L)])
                                 +- Exchange hashpartitioning(cust_id#966, 200), ENSURE_REQUIREMENTS, [plan_id=14857]
                                    +- HashAggregate(keys=[cust_id#966], functions=[partial_count(distinct control_group_flg#960L)])
                                       +- HashAggregate(keys=[cust_id#966, control_group_flg#960L], functions=[])
                                          +- Exchange hashpartitioning(cust_id#966, control_group_flg#960L, 200), ENSURE_REQUIREMENTS, [plan_id=14853]
                                             +- HashAggregate(keys=[cust_id#966, control_group_flg#960L], functions=[])
                                                +- Project [control_group_flg#960L, cust_id#966]
                                                   +- Scan ExistingRDD[channel_type#958,contact_dt#959,control_group_flg#960L,sent#961L,delivered#962L,opened#963L,clicked#964L,blocked#965L,cust_id#966]

We need to compare control and test groups: we will do it with the conversion rate and the comparison of the financial outcome (was there a financial uplift because of the compaign).
In order to calculate the conversion rates, we will use the following formula:
target action/number of people

In [61]:
#control group 

target_action_control = results_control.filter(results_control.flag_success_campaign == 1).select(results_control.flag_success_campaign).count()
numberofpeople_control =results_control.select(results_control.flag_success_campaign).count()
ConvR_control= target_action_control/numberofpeople_control

In [75]:
#test group 

target_action_test = results.filter(results.flag_success_campaign == 1).select(results.flag_success_campaign).count()
numberofpeople_test =results.select(results.flag_success_campaign).count()
ConvR_test= target_action_test/numberofpeople_test

In [106]:
numberofpeople_test

20219

In [107]:
numberofpeople_control

661

In [80]:
print("the conversion rate of control group is", ConvR_control)
print("the conversion rate of test group is", ConvR_test)

the conversion rate of control group is 0.32526475037821484
the conversion rate of test group is 0.2655423116870271

In [100]:
revenue_test =(results.select(results.campaign_txn_sum).agg(sum("campaign_txn_sum")).show())

+---------------------+
|sum(campaign_txn_sum)|
+---------------------+
|  9.664379336999992E7|
+---------------------+

In [102]:
revenue_control =(results_control.select(results_control.campaign_txn_sum).agg(sum("campaign_txn_sum")).show())

+---------------------+
|sum(campaign_txn_sum)|
+---------------------+
|    3316432.380000001|
+---------------------+

In [103]:
#bank's income is 1% of transactions
profit_test= np.round(9.664379336999992E7)*0.01
profit_control=np.round(3316432.380000001)*0.01

In [110]:
uplift =(ConvR_test - ConvR_control)/ConvR_test

In [111]:
print("uplift is",uplift)

uplift is -0.22490742929728538

In [ ]:
z_score = (rate_b - rate_a) / np.sqrt(std_a**2 + std_b**2) 
print(f"z-score is {z_score:0.3f}, with p-value {norm().sf(z_score):0.3f}") 
 
# But I want a plot as well 
p = norm(rate_b - rate_a, np.sqrt(std_a**2 + std_b**2))

The final results show that the conversion metrics are better in the control group, the uplift is negative

Lets check the results:

In [122]:
from statsmodels.stats.proportion import proportions_ztest, proportion_confint
n_con = 661
n_treat = 20219
successes = [215, 5369]
nobs = [n_con, n_treat]

z_stat, pval = proportions_ztest(successes, nobs=nobs)
(lower_con, lower_treat), (upper_con, upper_treat) = proportion_confint(successes, nobs=nobs, alpha=0.05)

print(f'z statistic: {z_stat:.2f}')
print(f'p-value: {pval:.3f}')
print(f'ci 95% for control group: [{lower_con:.3f}, {upper_con:.3f}]')
print(f'ci 95% for treatment group: [{lower_treat:.3f}, {upper_treat:.3f}]')

z statistic: 3.41
p-value: 0.001
ci 95% for control group: [0.290, 0.361]
ci 95% for treatment group: [0.259, 0.272]

With the confidence level 95% we can state that the results are statistically significant

# Creation of synthetic control group

In [ ]:
from pyspark.sql.functions import col
from pyspark.ml.feature import StringIndexer
import numpy as np
from pyspark.sql import functions as F, types as T
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vectors, VectorUDT 

from sklearn.neighbors import NearestNeighbors

df_ftrs = df_ftrs.withColumn("turnover",col("turnover").cast('double'))

In [ ]:
group_cols = ["cust_id", "involve_cd", "client_segment", "gender", "age_gr"]

df_ftrs_pivot = df_ftrs.groupBy(group_cols).pivot("mnth_gen").sum("turnover")
df_ftrs_pivot.printSchema()
del df_ftrs

In [ ]:
df_ftrs_pivot = df_ftrs_pivot.drop("0")

In [ ]:
df_ftrs_pivot = df_ftrs_pivot.withColumn("involve_cd",col("involve_cd").cast('int'))
df_ftrs_pivot.printSchema()
df_ftrs_pivot = df_ftrs_pivot.na.fill(value=0)

In [ ]:
indexer = StringIndexer(inputCols=["client_segment", "gender", "age_gr"], outputCols=["client_segment_index", "gender_index", "age_gr_index"], handleInvalid='skip', stringOrderType='frequencyDesc') 
df_ftrs_pivot_indexed = indexer.fit(df_ftrs_pivot).transform(df_ftrs_pivot) 
df_ftrs_pivot_indexed.printSchema()
del df_ftrs_pivot

In [ ]:
df_ftrs_pivot_indexed = df_ftrs_pivot_indexed.drop("client_segment", "gender", "age_gr")
df_ftrs_pivot_indexed.printSchema()

In [ ]:
vecAssembler = VectorAssembler(inputCols=["client_segment_index", "gender_index", "age_gr_index", "2021-01-01", "2021-02-01", "2021-03-01", "2021-04-01", "2021-05-01", "2021-06-01", "2021-07-01", "2021-08-01", "2021-09-01", "2021-10-01"], outputCol="features", handleInvalid="skip")

In [ ]:
to_dense_vector_udf = F.udf(lambda l: Vectors.dense(l), VectorUDT())

df_ftrs_pivot_indexed_vectorized = vecAssembler.transform(df_ftrs_pivot_indexed)
df_ftrs_pivot_indexed_vectorized = df_ftrs_pivot_indexed_vectorized.withColumn('features', F.array(*df_ftrs_pivot_indexed_vectorized.columns))
df_ftrs_pivot_indexed_vectorized.printSchema()

In [ ]:
test_ftrs_pivot_indexed_vectorized = np.array(df_ftrs_pivot_indexed_vectorized.select("features").filter(df_ftrs_pivot_indexed_vectorized.involve_cd == 1).limit(100).collect())

In [ ]:
control_ftrs_pivot_indexed_vectorized = np.array(df_ftrs_pivot_indexed_vectorized.select("features").filter(df_ftrs_pivot_indexed_vectorized.involve_cd == 0).limit(100).collect()).reshape(1, -1)

In [ ]:
def get_matching_pairs(treated_x, non_treated_x):
    nbrs = NearestNeighbors(n_neighbors=1, algorithm='ball_tree').fit(non_treated_x)
    distances, indices = nbrs.kneighbors(treated_x)
    return indices

get_matching_pairs(test_ftrs_pivot_indexed_vectorized, control_ftrs_pivot_indexed_vectorized)

Here we generated matching pairs using NearestNeighbors algorithm

# Promo mechanics

The openability can also be increased with the help of a header — this is the text that mail programs show after the subject of the letter. A preheader can also be useful and informative. For example, it can be interesting to continue and reveal the subject of the letter.

Indicators can be improved by segmenting subscribers. A large database is divided into several, and their own letters are prepared for each group. This way the messages become more relevant for each segment

We need to choose the optimal frequency of sending and not send emails too often or too rarely.In the first case, subscribers will forget what this newsletter is about, in the second case, they may consider it spam

Also some another things can be considered: email design, easy-to-click call to action